Source: zeitgeist-chrome-datasource
Section: web
Priority: optional
Maintainer: Steve Dodier-Lazaro <sidnioulz@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://study.cs.ucl.ac.uk/multitasking/web
Vcs-Bzr: bzr+ssh://bazaar.launchpad.net/~ucl-cs-study-devs/activityfinder/chromium-browser-extension/
Vcs-Browser: https://code.launchpad.net/~ucl-cs-study-devs/activityfinder/chromium-browser-extension

Package: zeitgeist-chrome-datasource
Architecture: all
Depends: ${misc:Depends} chromium-browser python zeitgeist
Description: <insert up to 60 chars description>
 Installs the host component of the UCL Zeitgeist Extension, which logs information about users' Web browsing habits
